*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%, url(1.jpg));
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;    
}

.logo{
    color: #ff7200;
    font-size: 25px;
    font-family: Cambria;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Cambria;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: Cambria;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 14px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #000;
    font-size: 17px;
    font-family: Cambria;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: 400px;
    margin: auto;
    color: #000;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Cambria;
    letter-spacing: 1.2px;
    line-height: 30px;   
}

.content h2{
    font-family: Cambria;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 30px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: Cambria;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
}

.cn:hover{
    background-color: #122bb8;
}

.content span{
    color: #ff7200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -70px;
    left: 900px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    height: 18px;
    font-family: Cambria;
    text-align: center;
    color: #000;
    font-size: 17px;
    background-color: rgba(212, 231, 231, 0.945);
    border-radius: 10px;
    margin: 1px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 25px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Cambria;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: rgba(174, 177, 177, 0.945);
    font-family: Cambria;
}

.btnn{
    width: 240px;
    height: 30px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-family: Cambria;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #122bb8;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .fhlink{
    font-family: Cambria;
    font-size: 15px;
    padding-top: 5px;
    padding-inline-end: 10px;
    text-align: left;
}

.fhlink a{
    text-decoration: none;
    color: #ff7200;
}

.fhlink a:hover{
    font-weight: bold;
    color: #122bb8;
}

.form .link{
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.link a:hover{
    font-weight: bold;
    color: #122bb8;
}

.liw{
    padding-top: 55px;
    padding-bottom: 10px;
    font-family: Arial;
    color: #fff;
    text-align: center;
}

.form .icon{
    width: 250px;
    text-decoration: none;
    text-align: center;
}

.icon a{
    font-size: 25px;
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
}

.a ion-icon{
    font-style: normal;
}

.icon a:hover{
    font-weight: bold;
    color: #122bb8;
}

.description{
    width: 1200px;
    height: 180px;
    padding-bottom: 30px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    margin: auto;
}

.description .desc{
    padding-top: 40px;
    padding-right: 35px;
    padding-left: 10px;
    font-family: Cambria;
    font-size: 10px;
    letter-spacing: 1.0px;
    color: rgba(174, 177, 177, 0.945);
    text-decoration: none;
    text-align: right;
}

.desc a{
    text-decoration: none;
    color: rgba(174, 177, 177, 0.945);
}

.description a:hover{
    font-weight: bold;
    color: #ff7200;
}